.parent{
    position: relative;
    margin-bottom: 20px;
    background: #F6F0F3;
    height: 2800px;
}

.decoration1{
    height: 2500px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.decoration1 .square{
    width: 300px;
    height: 200px;
    background: #9A4D36;
    position: sticky;
    top: 10px;
    margin-left: 300px;
    z-index: 9;
}

.decoration2{
    height: 2000px;
    position: absolute;
    bottom: 0;
}

.decoration2 .square{
    width: 400px;
    height: 100px;
    background: #DE8626;
    position: sticky;
    top: 70px;
    margin-left: 400px;
    z-index: 9;
}

.decoration3{
    height: 1500px;
    position: absolute;
    bottom: 0;
}

.decoration3 .square{
    width: 200px;
    height: 200px;
    background: #8E1A02;
    position: sticky;
    top: 50px;
    margin-left: 700px;
    z-index: 9;
}